@model IEnumerable<OnlineAccountDemo.Models.JobStatus>

@{
    ViewData["Title"] = "Issues List";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";
}

<div class="container mt-5">
    <a href="@Url.Action("CreateIssue","IssuesStatus")" class="btn btn-outline-success">Add New Status</a>
    <a href="@Url.Action("ListBrand","RepairCategory")" class="btn btn-outline-success">DashBoard</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Status Title</th>
                <th scope="col">Status Code</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StatusTitle</td>
                    <td>@item.StatusCode</td>
                    <td>@item.Status</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts {

}




