@model IEnumerable<OnlineAccountDemo.Models.BrandCategory>

@{
    ViewData["Title"] = "Brand List";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";
}

<a href="@Url.Action("CreateBrand","RepairCategory")" class="btn btn-outline-success">Add New Brand</a>
<a href="@Url.Action("CreateBrandModel","BrandModel")" class="btn btn-outline-success">Add New Model</a>
<a href="@Url.Action("ListBrandModel","BrandModel")" class="btn btn-outline-success">Model List</a>
<a href="@Url.Action("CreateColor","Color")" class="btn btn-outline-success">Add Color</a>
<a href="@Url.Action("ListColor","Color")" class="btn btn-outline-success">Color List</a>
<a href="@Url.Action("CreateIssues","Issues")" class="btn btn-outline-success">Add Issues</a>
<a href="@Url.Action("ListIssues","Issues")" class="btn btn-outline-success">Issues List</a>
<a href="@Url.Action("CreateEmp","Employees")" class="btn btn-outline-success">Add Employees</a>
<a href="@Url.Action("ListEmp","Employees")" class="btn btn-outline-success">Employees List</a>
<a href="@Url.Action("CreateIssueStatus","IssuesStatus")" class="btn btn-outline-success">Add Issue Status</a>
<a href="@Url.Action("ListIssueStatus","IssuesStatus")" class="btn btn-outline-success">List Issues List</a>
<a href="@Url.Action("CreateRepairTransaction","RepairAccessories")" class="btn btn-outline-success">Add Repair Transations</a>
<a href="@Url.Action("ListRepairTransaction","RepairAccessories")" class="btn btn-outline-success">Repair Transations List</a>
<a href="@Url.Action("RepairTransactionReport","RepairAccessories")" class="btn btn-outline-success">Repair Transations Report</a>
<a href="@Url.Action("CreatePricing","IssuesPricing")" class="btn btn-outline-success">Add Issues Pricing</a>
<a href="@Url.Action("ListIssuesPricing","IssuesPricing")" class="btn btn-outline-success">Issues Pricing List</a>


<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Brand Title</th>
                <th scope="col">Brand Code</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BrandTitle</td>
                    <td>@item.BrandCode</td>
                    <td>@item.Status</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts {

}




