@model IEnumerable<OnlineAccountDemo.Models.Employees>

@{
    ViewData["Title"] = "Employees List";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";
}



<div class="container">
    <a href="@Url.Action("CreateEmp","Employees")" class="btn btn-outline-success btn-lg bx-pull-right"><i class="bx bx-plus-medical"></i></a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Employee Code</th>
                <th scope="col">Employee Designation</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EmpName</td>
                    <td>@item.EmpCode</td>
                    <td>@item.EmpDesignation</td>
                    <td>@item.Status</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("UpdateEmp", new { id=item.Id})"><i class="bi bi-box-arrow-up"></i></a>
                        <a class="btn btn-outline-danger btn-sm" href="@Url.Action("DeleteEmp", new { id=item.Id})"><i class="bx bx-minus-circle"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts {

}




