@model IEnumerable<OnlineAccountDemo.Models.RepairAccessories>
@using OnlineAccountDemo.Models;

@{
    ViewData["Title"] = "Brand List";
    Layout = null;
    var brandModelList = ViewBag.ModelList as List<BrandModel>;
}

@*<a href="@Url.Action("CreateBrand","RepairCategory")" class="btn btn-outline-success">Add New Brand</a>
<a href="@Url.Action("CreateBrandModel","BrandModel")" class="btn btn-outline-success">Add New Model</a>
<a href="@Url.Action("ListBrandModel","BrandModel")" class="btn btn-outline-success">Model List</a>
<a href="@Url.Action("CreateColor","Color")" class="btn btn-outline-success">Add Color</a>
<a href="@Url.Action("ListColor","Color")" class="btn btn-outline-success">Color List</a>
<a href="@Url.Action("CreateIssues","Issues")" class="btn btn-outline-success">Add Issues</a>
<a href="@Url.Action("ListIssues","Issues")" class="btn btn-outline-success">Issues List</a>
<a href="@Url.Action("CreateEmp","Employees")" class="btn btn-outline-success">Add Employees</a>
<a href="@Url.Action("ListEmp","Employees")" class="btn btn-outline-success">Employees List</a>
<a href="@Url.Action("CreateIssueStatus","IssuesStatus")" class="btn btn-outline-success">Add Issue Status</a>
<a href="@Url.Action("ListIssueStatus","IssuesStatus")" class="btn btn-outline-success">List Issues List</a>
*@

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Brand Title</th>
                <th scope="col">Model</th>
                <th scope="col">IMEI Number</th>
                <th scope="col">Color</th>
                <th scope="col">Battery Percent</th>
                <th scope="col">Issue</th>
                <th scope="col">Employee</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BrandCategory.BrandTitle</td>
                    <td>@brandModelList!.Where(x=>x.Id == item.ModelId).Select(x=>x.ModelTitle).FirstOrDefault()</td>
                    <td>@item.IMEINumber</td>
                    <td>@item.ModelColor.ColorTitle</td>
                    <td>@item.BatteryPercent</td>
                    <td>@item.ModelIssues.IssueTitle</td>
                    <td>@item.Employees.EmpName</td>
                    <td>@item.JobStatus.StatusTitle</td>
                    <td>@item.Price</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts {

}




