@using OnlineAccountDemo.Models;
@{
    ViewData["Title"] = "Edit Inventory";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";

    int selectedBrandId = Model.BrandId;
    int selectedModelId = Model.ModelId;
    int selectedColorId = Model.Colorid;
    int selectedIssueId = Model.IssueId;
    int selectedEmpId = Model.EmpId;

    var employeesList = ViewBag.EmployeesList as List<Employees>;
    var issuesList = ViewBag.IssuesList as List<ModelIssues>;
    var colorList = ViewBag.ModelColor as List<ModelColor>;
    var brandList = ViewBag.BrandList as List<BrandCategory>;
    var modelList = ViewBag.ModelList as List<BrandModel>;
}

<div class="container">

    @using (Html.BeginForm("UpdateInventory", "Inventory", FormMethod.Post, new { @class = "w-50" }))
    {
        <div class="mb-3">
            <label for="BrandId" class="form-label">Brand</label>
            @Html.DropDownList("BrandId", new SelectList(brandList, "Id", "BrandTitle",selectedBrandId),"Select Brand",new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label for="ModelId" class="form-label">Model</label>
            @Html.DropDownList("ModelId", new SelectList(modelList, "Id", "ModelTitle",selectedModelId),"Select Model",new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label for="BrandCode" class="form-label">IEMI Number</label>
            <input type="text" class="form-control" name="IMEINumber" value="@Model.IMEINumber">
        </div>

        <div class="mb-3">
            <label for="Colorid" class="form-label">Color</label>
            @Html.DropDownList("Colorid", new SelectList(colorList, "Id", "ColorTitle",selectedColorId),"Select Color",new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label for="Quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" name="Quantity" value="@Model.Quantity">
        </div>

        <div class="mb-3">
            <label for="BrandCode" class="form-label">Issues</label>
            @Html.DropDownList("IssueId", new SelectList(issuesList, "Id", "IssueTitle",selectedIssueId),"Select Issue",new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label for="EmpId" class="form-label">Employee</label>
            @Html.DropDownList("EmpId", new SelectList(employeesList, "Id", "EmpName",selectedEmpId),"Select Employee",new { @class = "form-control" })
        </div>


@*        <div class="mb-3">
            <label for="BrandCode" class="form-label">Price</label>
            <input type="number" class="form-control" name="Price" placeholder="">
        </div>
*@
        <button type="submit" class="btn btn-primary">Update</button>
    }

</div>




@section Scripts {

}




